body{
color :white;
background:black ;
margin: 30px;
margin-bottom: 60px;
}

header{
    border-bottom: solid 3px gray;
    padding-left: 100px ;
    font-size: 35px;
    color: rgb(237, 232, 255);
}

section{
    background: rgb(gray);

}

img{height: 150px} 

.Continuação-do-Curso{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.Continuação-do-Curso img { 
    opacity: 0.6;
}

.Continuação-do-Curso img:hover { 
    opacity: 1.0;
    border: 2px solid blue

}